<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Aircraft Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  </head>
  <body ng-app="dashboard">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- <div ng-controller="Ctrl" style="background-image:url('img/bg.png'); height:600px">FE app {{name}} -->
    <div ng-controller="Ctrl">FE app {{name}}
      <!-- <input type="text" ng-model="message"> -->
      <button ng-click="connect()">Connect</button>
      {{values.control.landing_gear}}
      {{values.control.flaps}}
      {{values.telemetry.altitude}}
      {{values.telemetry.airspeed}}
      <!-- <ul>
        <li ng-repeat="msg in messages">{{msg}}</li>
      </ul> -->
    </div>

    <script src="app.js"></script>

  </body>
</html>
